body {
    background: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 35px;
}

button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    background: goldenrod;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 15px auto;
    width: 200px;
}

button:hover {
    background: red;
}

#message-el {
    font-style: italic;
}